<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImprovSpot</title>

    <!-- Reset CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--Viewport and scale set-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

<nav>
    <div class="nav-wrapper grey darken-4">
        <div>
            <a href="#" class="brand-logo center">
                <img id="hero_logo" src="assets/img/hero_logo_white.png" alt="Hero Logo">
            </a>
        </div>
        <ul id="nav-mobile" class="right">
            <li><a href="#"><i class="material-icons">info_outline</i></a></li>
            <li><a href="#"><i class="material-icons">perm_identity</i></a></li>
        </ul>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">group_work</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="btn-floating btn-large waves-effect waves-light red accent-2"><i class="material-icons">stars</i></a></li>
            <li><a class="btn-floating btn-large waves-effect waves-light light-green accent-4"><i class="material-icons">av_timer</i></a></li>
            <li><a class="btn-floating btn-large waves-effect waves-light indigo accent-2"><i class="material-icons">room</i></a></li>
        </ul>
        <ul id="mobile-demo" class="side-nav">
            <li><a href="#"><i class="material-icons">stars</i>GameSpot</a></li>
            <li><a href="#"><i class="material-icons">av_timer</i>ToolSpot</a></li>
            <li><a href="#"><i class="material-icons">room</i>FindSpot</a></li>
        </ul>
    </div>
</nav>

<!--INNER BODY GOES BELOW HERE-->

{{{ body }}}

<!--INNER BODY GOES ABOVE HERE-->

<footer class="page-footer grey darken-3">
    <div class="footer-copyright grey darken-4">
        <div class="container">
            © 2017 - This is a project from the UCF Coding Bootcamp
            <a class="right" href="#https://github.com/Skylarann725/ImprovSpot.git">GitHub Repository</a>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!--Materialize Javascript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!--Custom Javascript-->
<script src="assets/javascript/app.js"></script>

</body>

</html>
