<main class="indigo lighten-1">
    <div class="container grey-text text-lighten-3">
        <br>
        <div class="center-align"><i class="large material-icons">room</i></div>
        <h2 class="center-align">FindSpot.</h2>
        <h4 class="center-align">Find and connect with local improv shows, companies and clubs.</h4>
        <br>
        <nav>
            <div class="nav-wrapper indigo lighten-3">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
        <br>
        <div class="row center-align indigo lighten-3">
            <br><br>
            [[MAP DIV]]
            <br><br><br>
        </div>
    </div>
</main>