<main class="grey darken-3">
    <div class="container grey-text text-lighten-3">
        <br>
        <br>
        <br>
        <h2 class="center-align">Welcome to ImprovSpot.</h2>
        <h4 class="center-align">A digital companion for the Improv fan in all of us.</h4>
        <br>
        <div class="section">
            <div class="row">
                <div class="col s12 m2 push-m10 center-align">
                    <br><br>
                    <i class="large material-icons amber-text text-lighten-1">live_help</i>
                </div>
                <div class="col s12 m10 pull-m2 center-align">
                    <p class="landingp flow-text">
                        <strong>So what's Improv, anyway?</strong> Great question, young grasshopper. "Improv" is short for <strong>Improvisational Theatre</strong>. Often comedic, it's a form of theatre where most or all of the performance is unplanned and unscripted. Everything you see is created spontaneously. No Scripts. No Preparation. All fun.
                    </p>
                </div>
            </div>
        </div>
        <div class="section">
            <p class="landingp flow-text center-align">
                <strong>What can ImprovSpot do?</strong><br>
                Hey, thanks for asking...
            </p>
        </div>
        <div class="section">
            <div class="row">
                <div class="col s12 l3 center-align">
                    <br><br>
                    <i class="large material-icons red-text text-lighten-1">stars</i><br>
                    <h4>GameSpot.</h4>
                </div>
                <div class="col s12 l9 center-align">
                    <p class="landingp flow-text"><strong>Looking for a new game?</strong> Search through our extensive database of short-form games. Get instructions on how to play, categories of each game, and a number of players. All games are arranged by user-generated star ratings. Save games as favorites, and leave comments for other players.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l3 push-l9 center-align">
                    <br><br>
                    <i class="large material-icons green-text text-lighten-1">av_timer</i><br>
                    <h4>ToolSpot.</h4>
                </div>
                <div class="col s12 l9 pull-l3 center-align">
                    <p class="landingp flow-text"><strong>Can't find an 'ask' to start your scene?</strong> Stumped and can't think of an idea? Don't happen to have an eager audience for help? Use the Inspiration Machine to auto-generate a random place, thing, or relationship to get going. There's a nifty timer there to keep you on track, also.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l3 center-align">
                    <br><br>
                    <i class="large material-icons indigo-text text-lighten-1">room</i><br>
                    <h4>FindSpot.</h4>
                </div>
                <div class="col s12 l9 center-align">
                    <p class="landingp flow-text"><strong>Want some new friends? </strong> Search by city to find local Improv groups and compaines. Check their status level, type of Improv, and more. See details on a map to connect and meet local players in your area, or while on the go. Check out the Improv scene, in any city across the good ole US-of-A.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <p class="landingp flow-text center-align">
                <strong>Still confused?</strong><br>
                Don't know what the heck is going on? Don't worry. That's Improv. Educate yourself with this video.
            </p>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WiTTbrUAa0Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</main>