<main class="grey darken-3">
    <div class="container grey-text text-lighten-3">
        <br>
        <h2 class="center-align">You've landed.</h2>
        <h4 class="center-align">Welcome to ImprovSpot.</h4>
        <br>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WiTTbrUAa0Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</main>