<main class="grey darken-3">
    <div class="container grey-text text-lighten-3">
        <br>
        <br>
        <br>
        <h2 class="center-align">Welcome to ImprovSpot.</h2>
        <h4 class="center-align">A digital companion for the Improv lover within all of us.</h4>
        <br>
        <br>
        <div class="row">
            <div class="col m4 center-align">
                <i class="large material-icons red-text text-lighten-1">stars</i><br>
                <h4>GameSpot.</h4>
                <p>Looking for a new game? Search through our extensive database of short-form games. Get instructions on how to play, categories of each game, and a number of players. All games are arranged by user-generated star ratings. Save games as favorites, and leave comments for other players.</p>
            </div>
            <div class="col m4 center-align">
                <i class="large material-icons green-text text-lighten-1">av_timer</i><br>
                <h4>ToolSpot.</h4>
                <p>Can't find an 'ask' to start your scene? Stumped and can't think of an idea? Don't happen to have an eager audience for help? Use the Inspiration Machine to auto-generate a random place, thing, or relationship to get going. There's a nifty timer there to keep you on track, also.</p>
            </div>
            <div class="col m4 center-align">
                <i class="large material-icons indigo-text text-lighten-1">room</i><br>
                <h4>FindSpot.</h4>
                <p>Want some new friends? Search by city to find local Improv groups and compaines. Check their status level, type of Improv, and other details. See details on a map to connect and meet local players in your area, or while on the go. Check out the Improv scene, in any city across the good ole US-of-A.</p>
            </div>
        </div>
        <br>
        <h5>What is Improv?</h5>
        <p>Great question, young grasshopper. According to <a href="https://en.wikipedia.org/wiki/Improvisational_theatre">Wikipedia</a>, Improv is short for Improvisational theatre. It is the form of theatre, often comedy, in which most or all of what is performed is unplanned or unscripted. Everything you see is created spontaneously by the performers. No Scripts. No Preparation. All fun.</p>
        <br>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WiTTbrUAa0Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</main>