<main class="green lighten-1">
    <div class="container grey-text text-lighten-3">
        <br>
        <div class="center-align"><i class="large material-icons">av_timer</i></div>
        <h2 class="center-align">ToolSpot.</h2>
        <h4 class="center-align">Helpful tools to get your game going.</h4>
        <br>
    </div>
    <div class="container green lighten-3 grey-text text-lighten-3">
        <div class="row">
            <br>
            <h5 class="center-align grey-text text-darken-3">INSPIRATION MACHINE</h5>
            <h6 class="center-align grey-text text-darken-3">Click/tap on a column to get an idea for the scene.</h6>
        </div>
        <div class="row">
            <div class="col s12 m4 center-align">
                <a class="waves-effect waves-light btn-large green lighten-4 grey-text text-darken-3">PLACES</a>
            </div>
            <div class="col s12 m4 center-align">
                <a class="waves-effect waves-light btn-large green lighten-4 grey-text text-darken-3">THINGS</a>
            </div>
            <div class="col s12 m4 center-align">
                <a class="waves-effect waves-light btn-large green lighten-4 grey-text text-darken-3">RELATIONSHIPS</a>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div class="container green lighten-3 grey-text text-lighten-3">
        <div class="row">
            <br>
            <h5 class="center-align grey-text text-darken-3">TIMER</h5>
        </div>
        <div class="row">
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn-large green accent-3 grey-text text-darken-3">Start</a>
            </div>
            <div class="col s6 center-align">
                <a class="waves-effect waves-light btn-large red accent-2 grey-text text-darken-3">Stop</a>
            </div>
        </div>
        <div class="container black">
            <h1 class="center-align">00:00</h1>
        </div>
        <br>
    </div>
    <br>
</main>