<style>
    * {
        box-sizing: border-box;
    }

    input {
        text-align: center;
    }

    #slot1 li, #slot2 li, #slot3 li {
        height: 30px;
        overflow: hidden;
    }

    #slot_wrapper1, #slot_wrapper2, #slot_wrapper3 {
        display: inline-block;
        position: relative;
    }

    .jSlots-wrapper1, .jSlots-wrapper2, .jSlots-wrapper3 {
        margin: 4px 0;
        overflow: hidden; /* to hide the magic */
        height: 30px; /* whatever the height of your list items are */
        width: 100%;
        position: absolute;
        top: 0;
        display: none;
    }

    #slot1, #slot2, #slot3 {
        display: block;
    }

    .colorChange {
        -webkit-animation-name: multicolor; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 360s;
        -webkit-animation-play-state: paused;
        -webkit-animation-fill-mode: forwards;
        animation-name: multicolor;
        animation-duration: 360s;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }

    @keyframes multicolor {
        0% {
            background: #a5d6a7;
        }
        1% {
            background: #a5d6a7;
        }
        50% {
            background: #ffcc80;
        }
        100% {
            background: #ef5350;
        }
    }

    @-webkit-keyframes multicolor {
        0% {
            background: #a5d6a7;
        }
        1% {
            background: #a5d6a7;
        }
        50% {
            background: #ffcc80;
        }
        100% {
            background: #ef5350;
        }
    }

    #display {
        font-size: 20vw;
    }
</style>

<main class="green lighten-1">
    <div class="container grey-text text-lighten-3">
        <br>
        <div class="center-align"><i class="large material-icons">av_timer</i></div>
        <h2 class="center-align">ToolSpot.</h2>
        <h4 class="center-align">Helpful tools to get your game going.</h4>
        <br>
    </div>
    <div class="container green lighten-3 grey-text text-lighten-3">
        <div class="row">
            <br>
            <h5 class="center-align grey-text text-darken-3">INSPIRATION MACHINE</h5>
            <h6 class="center-align grey-text text-darken-3">Click/tap on a column to get an idea for the scene.</h6>
        </div>
        <div class="row">
            <div class="col s12 m4 center-align">
                <!--<a class="waves-effect waves-light btn-large green lighten-4 grey-text text-darken-3">PLACES</a>-->
                <div id="slot_wrapper1">
                    <input type="text" id="random_location1" disabled>
                    <ul id="slot1">
                        <!-- Initial list needs the height it will have when filled for jSlots to run correctly. You could fill with real values instead -->
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4 center-align">
                <!--<a class="waves-effect waves-light btn-large green lighten-4 grey-text text-darken-3">THINGS</a>-->
                <div id="slot_wrapper2">
                    <input type="text" id="random_location2" disabled>
                    <ul id="slot2">
                        <!-- Initial list needs the height it will have when filled for jSlots to run correctly. You could fill with real values instead -->
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4 center-align">
                <!--<a class="waves-effect waves-light btn-large green lighten-4 grey-text text-darken-3">RELATIONSHIPS</a>-->
                <div id="slot_wrapper3">
                    <input type="text" id="random_location3" disabled>
                    <ul id="slot3">
                        <!-- Initial list needs the height it will have when filled for jSlots to run correctly. You could fill with real values instead -->
                        <li>test</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div id="wrapper" class="colorChange container green lighten-3 grey-text text-lighten-3">
        <div class="row">
            <br>
            <h5 class="center-align grey-text text-darken-3">TIMER</h5>
        </div>
        <div id="buttons" class="row">
            <div class="col s6 center-align">
                <a id="start" class="waves-effect waves-light btn-large green accent-3 grey-text text-darken-3">Start</a>
            </div>
            <div class="col s6 center-align">
                <a id="stop" class="waves-effect waves-light btn-large red accent-2 grey-text text-darken-3">Stop</a>
            </div>
        </div>
        <div class="container black">
            <h1 id="display" class="center-align">00:00</h1>
        </div>
        <br>
    </div>
    <br>
</main>