<main class="grey darken-3">
    <div class="container grey-text text-lighten-3">
        <br>
        <br>
        <div class="col s12 m7">
            <h4>Account Info</h4>
            <div class="card horizontal grey-text text-darken-4">
                <div class="card-image">
                    <img src="https://vignette2.wikia.nocookie.net/doblaje/images/0/03/Trixie_Toy_Story_3.jpg/revision/latest?cb=20130102054819&path-prefix=es">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>Trixie Triceratops</h5>
                        <span class="right">Improvising since 2017</span>
                        <p><strong>Games Rated:</strong> 0</p>
                        <p><strong>Ratings & Reviews:</strong> 0</p>
                    </div>
                    <div class="card-action align-right">
                        <a href="#" class="indigo-text">log out</a>
                    </div>
                </div>
            </div>
            <br>
            <h4>Saved Games</h4>

            <ul class="collapsible grey-text text-darken-4" data-collapsible="accordion" id="myUL">
                <li>
                    <div class="collapsible-header">
                        <form>
                            <i class="material-icons">stars</i>
                            <span>The Oracle</span>
                            <span class="right"><i class="material-icons yellow-text text-accent-4">star</i>4.7</span>
                        </form>
                    </div>

                    <div class="collapsible-body grey lighten-3">
                        <form>
                            <span class="chip red lighten-4">Limitations</span>
                            <span class="chip green lighten-4">4 - players</span>
                            <p>One person is the interviewer, and the rest of the players are one "oracle" with multiple heads. The interviewer asks questions to the Oracle, and the Oracle provides answers word by word, from each player at a time. You can also have the audience ask the oracle questions about life, love, hardships, etc.</p>
                        </form>
                        <br>
                        <a href="#">COMMENT AND REVIEW</a>
                        <a class="right" href="#" onclick="Materialize.toast('Savsies!', 1000)">SAVE TO FAVORITES</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <!--<div class="chip">-->
        <!--<img src="https://vignette2.wikia.nocookie.net/doblaje/images/0/03/Trixie_Toy_Story_3.jpg/revision/latest?cb=20130102054819&path-prefix=es">-->
        <!--Jane Doe-->
    <!--</div>-->
</main>