body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h2 {
    margin-top: 0;
}

/*!* form label color *!*/
/*.input-field label {*/
    /*color: red;*/
/*}*/
/*!* form label focus color *!*/
/*.input-field input[type=text]:focus + label {*/
    /*color: orange;*/
/*}*/
/*!* form label underline focus color *!*/
/*.input-field input[type=text]:focus {*/
    /*border-bottom: 1px solid yellow;*/
    /*box-shadow: 0 1px 0 0 green;*/
/*}*/
/*!* form valid color *!*/
/*.input-field input[type=text].valid {*/
    /*border-bottom: 1px solid pink;*/
    /*box-shadow: 0 1px 0 0 blue;*/
/*}*/
/*!* form invalid color *!*/
/*.input-field input[type=text].invalid {*/
    /*border-bottom: 1px solid purple;*/
    /*box-shadow: 0 1px 0 0 indigo;*/
/*}*/

@media only screen and (max-width: 700px) {

    #hero_logo {
        width: 100%;
        vertical-align: middle;
    }

}

@media only screen and (min-width: 701px) {

    #hero_logo {
        width: 300px;
        vertical-align: middle;
    }

}