body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

/*h5 {*/
    /*font-weight: 100;*/
/*}*/

/*h4 {*/
    /*font-weight: 100;*/
/*}*/

/*h3 {*/
    /*font-weight: 100;*/
/*}*/

h2 {
    font-weight: 100;
    margin-top: 0;
}

/*h1 {*/
    /*font-weight: 100;*/
/*}*/

@media only screen and (max-width: 700px) {

    #hero_logo {
        width: 100%;
        vertical-align: middle;
    }

}

@media only screen and (min-width: 701px) {

    #hero_logo {
        width: 300px;
        vertical-align: middle;
    }

}